USE [telephonedbchanges]
GO
/****** Object:  Table [dbo].[NumberOwners]    Script Date: 3/1/2019 11:50:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NumberOwners](
	[Id] [int] NOT NULL,
	[OwnerID] [int] NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_NumberOwners] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TelephoneNumber]    Script Date: 3/1/2019 11:50:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TelephoneNumber](
	[Id] [int] NOT NULL,
	[CountryCode] [smallint] NOT NULL,
	[AreaCode] [smallint] NOT NULL,
	[Prefix] [smallint] NOT NULL,
	[LineNumber] [smallint] NOT NULL,
	[IsOnNet] [bit] NOT NULL,
	[IsAssigned] [bit] NOT NULL,
	[StringValue] [nvarchar](20) NULL,
	[OwnedBy] [int] NULL,
	[IsPorted] [bit] NULL,
 CONSTRAINT [PK_TelephoneNumber] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[NumberOwners] ([Id], [OwnerID], [Name]) VALUES (1, 1, N'Supjubor Direct Corp.')
INSERT [dbo].[NumberOwners] ([Id], [OwnerID], [Name]) VALUES (2, 2, N'Monfropazz  ')
INSERT [dbo].[NumberOwners] ([Id], [OwnerID], [Name]) VALUES (3, 3, N'Dopquestar Holdings Group')
INSERT [dbo].[TelephoneNumber] ([Id], [CountryCode], [AreaCode], [Prefix], [LineNumber], [IsOnNet], [IsAssigned], [StringValue], [OwnedBy], [IsPorted]) VALUES (1, 1, 695, 265, 7065, 1, 0, N'1-695-265-7065', 9, 1)
INSERT [dbo].[TelephoneNumber] ([Id], [CountryCode], [AreaCode], [Prefix], [LineNumber], [IsOnNet], [IsAssigned], [StringValue], [OwnedBy], [IsPorted]) VALUES (2, 1, 807, 171, 3730, 0, 0, N'1-807-171-3730', 6, 0)
INSERT [dbo].[TelephoneNumber] ([Id], [CountryCode], [AreaCode], [Prefix], [LineNumber], [IsOnNet], [IsAssigned], [StringValue], [OwnedBy], [IsPorted]) VALUES (3, 1, 511, 240, 8550, 0, 1, N'1-511-240-8550', 5, 1)
GO
ALTER TABLE [dbo].[NumberOwners] ADD  CONSTRAINT [DF_NumberOwners_Name]  DEFAULT ('None') FOR [Name]
GO
ALTER TABLE [dbo].[TelephoneNumber] ADD  CONSTRAINT [DF_TelephoneNumber_CountryCode]  DEFAULT ((1)) FOR [CountryCode]
GO
ALTER TABLE [dbo].[TelephoneNumber] ADD  CONSTRAINT [DF_TelephoneNumber_AreaCode]  DEFAULT ((0)) FOR [AreaCode]
GO
ALTER TABLE [dbo].[TelephoneNumber] ADD  CONSTRAINT [DF_TelephoneNumber_Prefix]  DEFAULT ((0)) FOR [Prefix]
GO
ALTER TABLE [dbo].[TelephoneNumber] ADD  CONSTRAINT [DF_TelephoneNumber_LineNumber]  DEFAULT ((0)) FOR [LineNumber]
GO
ALTER TABLE [dbo].[TelephoneNumber] ADD  CONSTRAINT [DF_TelephoneNumber_IsOnNet]  DEFAULT ((1)) FOR [IsOnNet]
GO
ALTER TABLE [dbo].[TelephoneNumber] ADD  CONSTRAINT [DF_TelephoneNumber_IsAssigned]  DEFAULT ((0)) FOR [IsAssigned]
GO
ALTER TABLE [dbo].[TelephoneNumber]  WITH NOCHECK ADD  CONSTRAINT [FK_TelephoneNumber_ToNumberOwners] FOREIGN KEY([OwnedBy])
REFERENCES [dbo].[NumberOwners] ([Id])
GO
ALTER TABLE [dbo].[TelephoneNumber] CHECK CONSTRAINT [FK_TelephoneNumber_ToNumberOwners]
GO
ALTER TABLE [dbo].[NumberOwners]  WITH NOCHECK ADD  CONSTRAINT [CK_NumberOwners_Column] CHECK  (((1)=(1)))
GO
ALTER TABLE [dbo].[NumberOwners] CHECK CONSTRAINT [CK_NumberOwners_Column]
GO
